{% extends "layout.html" %}
{% block title %}
Home
          {% endblock %}
{% block content %}
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-6">
                  <div class="slider_detail-box">
                    <h1>
                      Solve <br/>
                      NLP problems with <br/>
                      Our Company
                    </h1>
                    <p>
                      Natural language processing strives to
                      build machines that understand and respond
                      to text or voice data—and respond with text
                      or speech of their own—in much the same way humans do.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{{url_for('static',filename='images/slider-imgs.png')}}" alt=""/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-6">
                  <div class="slider_detail-box">
                    <h1>
                      Solve <br/>
                      NLP problems with <br/>
                      Our Company
                    </h1>
                    <p>
                      Natural language processing strives to
                      build machines that understand and respond
                      to text or voice data—and respond with text
                      or speech of their own—in much the same way humans do.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                     <img src="{{url_for('static',filename='images/slider-imgs.png')}}" alt=""/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-6">
                  <div class="slider_detail-box">
                    <h1>
                      Solve <br/>
                      NLP problems with <br/>
                      Our Company
                    </h1>
                    <p>
                      Natural language processing strives to
                      build machines that understand and respond
                      to text or voice data—and respond with text
                      or speech of their own—in much the same way humans do.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">

                     <img src="{{url_for('static',filename='images/slider-imgs.png')}}" alt=""/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-container">
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- welcome section -->
  <section class="welcome_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Welcome To Our Company
        </h2>
      </div>
      <div class="layout_padding2">
        <div class="img-box">
           <img src="{{url_for('static',filename='images/welcomes.png')}}" alt=""/>
        </div>
        <div class="detail-box">
          <p>
            Text Analytics has lots of applications in today's online world.
            By analyzing tweets on Twitter, we can find trending news and peoples reaction on a particular event.
            Amazon can understand user feedback or review on the specific product.
            BookMyShow can discover people's opinion about the movie.
            Youtube can also analyze and understand peoples viewpoints on a video.
          </p>
          <div>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- end welcome section -->

  <!-- service section -->

 <section class="service_section">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          <br><br>Our Services
        </h2>
      </div>
      <div class="service_container layout_padding2">
        <div class="service_box">
          <div class="img-box">
            <img src="{{url_for('static',filename='images/s-1.jpg')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Token
              Classification<br/>
            </h4>
            <p>
              Token classification is a natural language understanding task in which a label is assigned to some tokens in a text.
              Some popular token classification subtasks are Named Entity Recognition (NER) and Part-of-Speech (PoS) tagging.
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
             <img src="{{url_for('static',filename='images/s-2.jpg')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Sentiment <br/>
              Analysis
            </h4>
            <p>
             Sentiment analysis is the automated process of tagging data according to their sentiment, such as positive, negative and neutral.
              Sentiment analysis allows companies to analyze data at scale, detect insights and automate processes.
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
             <img src="{{url_for('static',filename='images/sss.png')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Stopwords <br/>
              Remover
            </h4>
            <p>
             A stop word is a commonly used word (such as “the”, “a”, “an”, “in”) that a search engine has been programmed to ignore, both when indexing entries for searching and when retrieving them as the result of a search query.
             We would not want these words to take up space in our database, or taking up valuable processing time.
              For this, we can remove them easily, by storing a list of words that you consider to stop words
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
             <img src="{{url_for('static',filename='images/s-4.jpg')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Punctuations <br/>
              Remover
            </h4>
            <p>
             Tokenizing and removing all punctuation marks from a sentence removes all punctuation marks from each word. For example, the sentence "Think and wonder, wonder and think."
              tokenized and removed of punctuation marks is ['Think', 'and', 'wonder', 'wonder', 'and', 'think'].
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
             <img src="{{url_for('static',filename='images/s-3.jpg')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Grammar <br/>
              Correction
            </h4>
            <p>
              Grammarly is a popular online grammar checker tool available as a browser addon for Google Chrome, Firefox, and even Microsoft Edge.
              It checks for grammar and spelling errors as you write your posts.
            </p>
          </div>
        </div>
      </div>

      <div>
        <a href="{{ url_for('service_page')}}">
          Read More
        </a>
      </div>
    </div>
  </section>

  <!-- end service section -->
  <!--problem section -->
  <section class="problem_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Do you have any business problem ?
        </h2>
      </div>
      <div class="layout_padding2">
        <div class="img-box">
          <img src="{{url_for('static',filename='images/problems.jpeg')}}" alt=""/>
        </div>
        <div class="detail-box">
          <p>
            We solves  business problem like - Text Generation,Fill Mask ,Text Summarization<br>
            Finding out the similarity between two sentences.
          </p>
          <div>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- end problem section -->
  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Why Choose Us
        </h2>
      </div>
      <div class="content-container">
        <p>
          We tries to solve all your Natural Language Processing problems just in couple-of seconds within one click.
        </p>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="{{url_for('static',filename='images/smiley.png')}}" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
                99%
              </h3>
              <h6>
                SATISFIED CLIENTS
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="{{url_for('static',filename='images/monitor.png')}}" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
                4700+
              </h3>
              <h6>
                AWESOME planing
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="{{url_for('static',filename='images/multiple-users-silhouette.png')}}" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
                4500+
              </h3>
              <h6>
                CLIENTS
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="{url_for('static',filename='images/bar-chart.png')}}" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
                19000+
              </h3>
              <h6>
                DAILY business
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end why section -->

  <!-- client section -->
  <section class="client_section layout_padding">
    <div class="container">
      <h2>
        What Our Clients Says
      </h2>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_container layout_padding2">
              <div class="client_text">
                <p>
                  Text Analyzer solves  problems  of performance review in my company
                  to find out whether the employee should be promoted or not based on their sentiments
                  received from their peers.
                </p>
              </div>
              <div class="detail-box">
                <div class="img-box">
                  <img src="{{url_for('static',filename='images/c1.png')}}" alt=""/>
                </div>
                <div class="name">
                  <h5>
                    Brock Lesnar
                  </h5>
                  <p>
                    Data Analyst
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding2">
              <div class="client_text">
                <p>
                  Text Analyzer make easier to find out the summary from a long paragraph
                  within seconds.Now every person can find-out the summary of the book or literature
                  with just oneclick.
                </p>
              </div>
              <div class="detail-box">
                <div class="img-box">
                  <img src="{{url_for('static',filename='images/c2.png')}}" alt=""/>
                </div>
                <div class="name">
                  <h5>
                    Roman Reigns
                  </h5>
                  <p>
                    Data Engineer
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding2">
              <div class="client_text">
                <p>
                  Text Analyzer helps me to solve the problem of fill in the blank
                  problem by selecting the best option with their respective probability score.
                </p>
              </div>
              <div class="detail-box">
                <div class="img-box">
                  <img src="{{url_for('static',filename='images/c3.png')}}" alt=""/>
                </div>
                <div class="name">
                  <h5>
                    John Cena
                  </h5>
                  <p>
                    Cloud Architect
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </section>
  <!-- end client section -->
  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container contact_heading">
      <h2>
        Contact Us
      </h2>
      <p>
        Feel Free to contact us anytime anywhere.
      </p>
    </div>
    <div class="container">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName4">Name</label>
            <input type="text" class="form-control" id="inputName4"/>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4"/>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputNumber4">Phone number</label>
            <input type="tel" class="form-control" id="inputNumber4"/>
          </div>
          <div class="form-group col-md-6">
            <label for="inputState">Select Service</label>
            <select id="inputState" class="form-control">
              <option selected=""></option>
              <option>...</option>
            </select>
          </div>

        </div>
        <div class="form-group">
          <label for="inputMessage">Message</label>
          <input type="text" class="form-control" id="inputMessage" placeholder=""/>
        </div>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="">Send</button>
    </div>
    </form>>
  </section>

{% endblock %}