{% extends "base.html" %}
{% block title %}
Projects
{% endblock %}
{% block content %}
<style>
    body
{
	background:#00bcd4;
}

h1
{
	color:#fff;
	margin:40px 0 60px 0;
	font-weight:300;
}

.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	c
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.our-team-main img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
	margin-bottom:0;
}

.detail-box
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:#fff;

}

.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}

</style>
<h1 class="text-center">Our Projects</h1>
<div class="container">
	<div class="row">
	<!--team-1-->
	<div class="col-lg-4">
	<div class="our-team-main">
	<div class="team-front">
            <a href="https://valueml.com/skin-cancer-detection-using-resnet50/"><img src="{{url_for('static',filename='images/s-10.jpg')}}" alt=""></a>
            <h4>
              Skin Cancer <br/>
              Detection
            </h4></div>
                  <div class="detail-box">

            <span>
              Skin cancer — the abnormal growth of skin cells — most often develops on skin exposed to the sun.
                But this common form of cancer can also occur on areas of your skin not ordinarily exposed to sunlight.
            </span>
          </div>
        </div>
    </div>
        <!--team-1-->

	<!--team-2-->
        <div class="col-lg-4">
          <div class="our-team-main">
	       <div class="team-front">
               <a href="https://valueml.com/tomato-leaf-disease-classifier-using-tensorflow-2-0/"><img src="{{url_for('static',filename='images/s-11.jpg')}}" alt=""/></a>

            <h4>
              Tomato Leaf <br/>
              Disease Detection
            </h4></div>
               <div class="detail-box">
            <span>
             Plants are a major source of food for the world population.
                Plant diseases contribute to production loss, which can be tackled with continuous monitoring.
                Manual plant disease monitoring is both laborious and error-prone.
                <span>
          </div>
        </div>
        </div>


	<!--team-2-->

	<!--team-3-->

        <div class="col-lg-4">
          <div class="our-team-main">
	       <div class="team-front">
             <a href="https://valueml.com/sound-classsification-with-yamnet/" >
                 <img src="{{url_for('static',filename='images/s-12.jpeg')}}" alt=""/></a>

            <h4>
              Sound <br/>
              Classification
            </h4></div>
               <div class="detail-box">
            <span>
             A stop word is a commonly used word (such as “the”, “a”, “an”, “in”) that a search engine has been programmed to ignore, both when indexing entries for searching and when retrieving them as the result of a search query.

            </span>
          </div>
        </div>
        </div>
        <div class="col-lg-4">
          <div class="our-team-main">
	       <div class="team-front">
             <a href="https://valueml.com/sarcasm-detection-with-glove-embeddings-using-tensorflow-python/">
                 <img src="{{url_for('static',filename='images/s-13.jpeg')}}" alt=""/></a>

            <h4>
              Sarcasm <br/>
              Detection
            </h4></div>
               <div class="detail-box">
            <span>
             Sarcasm detection is the task of identifying irony containing utterances in sentiment-bearing text.
                However, the figurative and creative nature of sarcasm poses a great challenge for affective computing systems performing sentiment analysis.</span>
          </div>
        </div>
        </div>

    <div class="col-lg-4">
          <div class="our-team-main">
	       <div class="team-front">
             <a href="https://valueml.com/sarcasm-detection-with-glove-embeddings-using-tensorflow-python/">
                 <img src="{{url_for('static',filename='images/s-14.png')}}" alt=""/></a>

            <h4>
              Financial Sentiment <br/>
              Analysis
            </h4></div>
               <div class="detail-box">
            <span>
                The most common use of The Sentiment Analysis API in the financial sector will be the analysis
                of financial news, in particular to predicting the behaviour and possible trend of stock markets.
            </span>
        </div>

	</div>
	</div>
	<!--team-6-->



	</div>
	</div>



 {% endblock %}