<!DOCTYPE html><html><head><meta charset="utf-8"/>


  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <!-- Site Metas -->
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>Text Analyzer</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"/>

  <!-- bootstrap core css -->

   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css') }}"/>

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet"/>
  <!-- Custom styles for this template -->
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css') }}"/>
  <!-- responsive style -->
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/responsive.css') }}"/>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="index.html">
                <span>
                  Text Analyzers
                </span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex  flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about">About </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/service">Services </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/register">Register</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                  </form>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- service section -->
<!-- service section -->

  <section class="service_section">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          <br><br><br><br><br>Our Services
        </h2>
      </div>
      <div class="service_container layout_padding2">
        <div class="service_box">
          <div class="img-box">
            <img src="{{url_for('static',filename='images/s-1.jpg')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Token <br/>
              Classification
            </h4>
            <p>
              Token classification is a natural language understanding task in which a label is assigned to some tokens in a text.
              Some popular token classification subtasks are Named Entity Recognition (NER) and Part-of-Speech (PoS) tagging.
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
             <img src="{{url_for('static',filename='images/s-2.jpg')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Sentiment <br/>
              Analysis
            </h4>
            <p>
             Sentiment analysis is the automated process of tagging data according to their sentiment, such as positive, negative and neutral.
              Sentiment analysis allows companies to analyze data at scale, detect insights and automate processes.
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
             <img src="{{url_for('static',filename='images/ss.png')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Stopwords <br/>
              Remover
            </h4>
            <p>
             A stop word is a commonly used word (such as “the”, “a”, “an”, “in”) that a search engine has been programmed to ignore, both when indexing entries for searching and when retrieving them as the result of a search query.
             We would not want these words to take up space in our database, or taking up valuable processing time.
              For this, we can remove them easily, by storing a list of words that you consider to stop words
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
             <img src="{{url_for('static',filename='images/s-5.jpg')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Text <br/>
              Summarization
            </h4>
            <p>
             Text summarization is the technique for generating a concise and precise summary of voluminous texts while focusing on the sections that convey useful information, and without losing the overall meaning.
Automatic text summarization aims to transform lengthy documents into shortened versions, something which could be difficult and costly to undertake if done manually.
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
             <img src="{{url_for('static',filename='images/s-4.jpg')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Punctuations <br/>
              Remover
            </h4>
            <p>
             Tokenizing and removing all punctuation marks from a sentence removes all punctuation marks from each word. For example, the sentence "Think and wonder, wonder and think."
              tokenized and removed of punctuation marks is ['Think', 'and', 'wonder', 'wonder', 'and', 'think'].
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
             <img src="{{url_for('static',filename='images/s-3.jpg')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Grammar <br/>
              Correction
            </h4>
            <p>
              Grammarly is a popular online grammar checker tool available as a browser addon for Google Chrome, Firefox, and even Microsoft Edge.
              It checks for grammar and spelling errors as you write your posts.
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
             <img src="{{url_for('static',filename='images/s-6.jpg')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Text <br/>
              Generation
            </h4>
            <p>
             Text generation is the task of generating text with the goal of appearing indistinguishable to human-written text.
              This task if more formally known as "natural language generation" in the literature.
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
             <img src="{{url_for('static',filename='images/s-7.jpeg')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Fill <br/>
              Mask
            </h4>
            <p>
             Masked language modeling is the task of masking some of the words in a sentence and predicting which words should replace those masks.
              These models are useful when we want to get a statistical understanding of the language in which the model is trained in.
            </p>
          </div>
        </div>
      </div>

      <div>
        <a href="/tryitout">
          Try it Out.
        </a>
      </div>
    </div>
  </section>
  <!-- end service section -->


  <div class="footer_bg">
    <!-- info section -->
    <section class="info_section layout_padding2-bottom">
      <div class="container">
        <h3 class="">
          Text Analyzer
        </h3>
      </div>
      <div class="container info_content">

        <div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="d-flex">
                <h5>
                  Useful Link
                </h5>
              </div>
              <div class="d-flex ">
                <ul>
                  <li>
                    <a href="">
                      About Us
                    </a>
                  </li>
                  <li>
                    <a href="">
                      About services
                    </a>
                  </li>
                  <li>
                    <a href="">
                      About Departments
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Services
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Contact Us
                    </a>
                  </li>
                </ul>
                <ul class="ml-3 ml-md-5">
                  <li>
                    <a href="">
                      Loram ipusm
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Loram ipusm
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Loram ipusm
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Loram ipusm
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Loram ipusm
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="d-flex">
                <h5>
                  The Services
                </h5>
              </div>
              <div class="d-flex ">
                <ul>
                  <li>
                    <a href="">
                      About Us
                    </a>
                  </li>
                  <li>
                    <a href="">
                      About services
                    </a>
                  </li>
                  <li>
                    <a href="">
                      About Departments
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Services
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Contact Us
                    </a>
                  </li>
                </ul>
                <ul class="ml-3 ml-md-5">
                  <li>
                    <a href="">
                      Lorem ipsum dolor
                    </a>
                  </li>
                  <li>
                    <a href="">
                      sit amet, consectetur
                    </a>
                  </li>
                  <li>
                    <a href="">
                      adipiscing elit,
                    </a>
                  </li>
                  <li>
                    <a href="">
                      sed do eiusmod
                    </a>
                  </li>
                  <li>
                    <a href="">
                      tempor incididunt
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="d-flex">
                <h5>
                  Contact Us
                </h5>
              </div>
              <div class="d-flex ">
                <ul>
                  <li>
                    <a href="">
                      About Us
                    </a>
                  </li>
                  <li>
                    <a href="">
                      About services
                    </a>
                  </li>
                  <li>
                    <a href="">
                      About Departments
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Services
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Contact Us
                    </a>
                  </li>
                </ul>
                <ul class="ml-3 ml-md-5">
                  <li>
                    <a href="">
                      Lorem ipsum
                    </a>
                  </li>
                  <li>
                    <a href="">
                      dolor sit amet,
                    </a>
                  </li>
                  <li>
                    <a href="">
                      consectetur
                    </a>
                  </li>
                  <li>
                    <a href="">
                      adipiscing
                    </a>
                  </li>
                  <li>
                    <a href="">
                      elit, sed do eiusmod
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
          <div class="social-box">
            <a href="">
              <img src="images/fb.png" alt=""/>
            </a>

            <a href="">
              <img src="images/twitter.png" alt=""/>
            </a>
            <a href="">
              <img src="images/linkedin1.png" alt=""/>
            </a>
            <a href="">
              <img src="images/instagram1.png" alt=""/>
            </a>
          </div>
          <div class="form_container mt-5">
            <form action="">
              <label for="subscribeMail">
                Newsletter
              </label>
              <input type="email" placeholder="Enter Your email" id="subscribeMail"/>
              <button type="submit">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>

    </section>

    <!-- end info_section -->
    <!-- footer section -->
    <section class="container-fluid footer_section">
      <p>
        © 2019 All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </section>
    <!-- footer section -->
  </div>


  <script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
</body></html>