absl-py==1.4.0
accelerate==0.18.0
aiohttp==3.8.4
aiosignal==1.3.1
antlr4-python3-runtime==4.8
array-record==0.2.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
bcrypt==4.0.1
Bcrypt-Flask==1.0.2
beautifulsoup4==4.12.2
black==23.3.0
blinker==1.6.2
boto3==1.26.118
botocore==1.29.118
bpemb==0.3.4
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
conllu==4.5.2
contourpy==1.0.7
cycler==0.11.0
datasets==2.11.0
Deprecated==1.2.13
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@38af375052d3ae7331141bc1a22cfa2713b02987
diffusers @ git+https://github.com/huggingface/diffusers.git@9965cb50eac12e397473f01535aab43aae76b4ab
dill==0.3.6
dm-tree==0.1.8
dnspython==2.3.0
email-validator==2.0.0.post2
etils==1.2.0
filelock==3.9.0
flair==0.12.2
Flask==2.2.3
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
flatbuffers==23.3.3
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2023.4.0
ftfy==6.1.1
future==0.18.3
fuzzywuzzy==0.18.0
fvcore==0.1.5.post20221221
gast==0.4.0
gdown==4.4.0
gensim==4.3.1
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.59.0
GPUtil==1.4.0
greenlet==2.0.2
grpcio==1.54.0
h5py==3.8.0
huggingface-hub==0.13.4
hydra-core==1.1.0
hyperopt==0.2.7
idna==3.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
iopath==0.1.7
itsdangerous==2.0.1
Janome==0.4.2
jax==0.4.8
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
keras==2.12.0
keras-cv==0.4.2
kiwisolver==1.4.4
langdetect==1.0.9
Levenshtein==0.21.0
libclang==16.0.0
libretranslatepy==2.1.1
llvmlite==0.39.1
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
ml-dtypes==0.1.0
more-itertools==9.1.0
mpld3==0.3
mpmath==1.2.1
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
networkx==3.0
nltk==3.8.1
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
omegaconf==2.1.0
openai==0.27.4
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.1
pandas==2.0.0
panopticapi @ git+https://github.com/cocodataset/panopticapi.git@7bb4655548f98f3fedc07bf37e9040a992b054b0
parrot @ git+https://github.com/PrithivirajDamodaran/Parrot_Paraphraser.git@720a87a1ee557d8ed8d9a021adbdd1dd5616c5f9
pathspec==0.11.1
Pillow==9.3.0
platformdirs==3.2.0
portalocker==2.7.0
pptree==3.1
promise==2.3
protobuf==3.20.0
psutil==5.9.5
py4j==0.10.9.7
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycocotools==2.0.6
pycparser==2.21
pyparsing==3.0.9
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==1.0.0
python-Levenshtein==0.21.0
pytorch_revgrad==0.2.0
pytz==2023.3
pywin32==306
PyYAML==6.0
rapidfuzz==3.0.0
regex==2023.3.23
requests==2.28.1
requests-oauthlib==1.3.1
responses==0.18.0
rsa==4.9
s3transfer==0.6.0
scikit-learn==1.2.2
scipy==1.10.1
segtok==1.5.11
sentence-transformers==2.2.2
sentencepiece==0.1.98
six==1.16.0
smart-open==6.3.0
soundfile==0.12.1
soupsieve==2.4.1
SQLAlchemy==2.0.10
sqlitedict==2.1.0
stop-words==2018.7.23
sympy==1.11.1
tabulate==0.9.0
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.13.1
termcolor==2.2.0
textblob==0.17.1
threadpoolctl==3.1.0
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
torch==2.0.0+cu118
torchaudio==2.0.1+cu118
torchvision==0.15.1+cu118
tqdm==4.65.0
transformer-smaller-training-vocab==0.2.3
transformers==4.28.1
translate==3.6.1
typing_extensions==4.4.0
tzdata==2023.3
urllib3==1.26.13
wcwidth==0.2.6
Werkzeug==2.2.3
Wikipedia-API==0.5.8
wrapt==1.14.1
WTForms==3.0.1
xxhash==3.2.0
yacs==0.1.8
yarl==1.9.1
zipp==3.15.0
